/* 요소(element) 여백 초기화 */
html,body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,p,address,pre,cite,form,fieldset,caption,textarea,input,select,table,th,td {margin:0px; padding:0px;}
/* 제목요소 */
h1,h2,h3,h4,h5,h6,th{font-size:100%;font-weight:normal;}
/* 테두리 없애기 */
fieldset,img,abbr,acronym{border:0 none;}
img {vertical-align:top;}

/* 텍스트 관련 요소 초기화 */
address,caption,em,cite{font-weight:normal;font-style:normal;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
/* 수평선 */
hr{display:none;}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
select{vertical-align:middle;}
/* 목록 */
ol, ul, li {list-style-type:none;}
/* 테이블 */
table { border-collapse:collapse;border-spacing:0;}
caption {overflow:hidden; font-size:0; line-height:0;}


body {
	width:100%;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	color:#666;
}

a:link { color:#444; text-decoration:none;}
a:visited { color:#444;}
a:active { color:#444;}
a:hover { color:#222;}

a.link { color:#0000ff;}
a.link:hover { text-decoration:underline;}

.hidden { position:absolute; top:-9999px; left:-9999px;}
.clr { *zoom:1;}
.clr:after { content:''; display:block; clear:both;}

.tc { text-align:center !important;}

.mgt5 { margin-top:5px !important;}
.mgt10 { margin-top:10px !important;}
.mgt15 { margin-top:15px !important;}
.mgt20 { margin-top:20px !important;}
.mgt30 { margin-top:30px !important;}
.mgt40 { margin-top:40px !important;}
.mgt50 { margin-top:50px !important;}

.mgl20 { margin-left:20px !important;}

@font-face {
	font-family: 'NGBold';
	font-style: normal;
	font-weight: 700;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('woff2'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}


#wrap {
	width:1200px;
	margin:0 auto; position:relative;
}

.con1 {
	*zoom:1;
	margin-top:30px;
}
.con1:after {
	content:''; display:block; clear:both;
}
.con1 .login {
	float:left;
	width:310px;
}

.con1 form {
	*zoom:1;
	margin-top:7px;
}
.con1 form:after {
	content:''; display:block; clear:both;
}
.con1 .login .form {
	float:left;
	background:url(../images/bg_login_form.gif) no-repeat;
	width:210px; height:74px;
}
.con1 .login .form .id {
	width:200px; height:38px;
	border:none;
	padding:0 0 0 10px;
}

.con1 .login .form .pw {
	width:200px; height:36px;
	border:none;
	padding:0 0 0 10px;
}







.con1 .login a.btn {
	display:block;
	float:left; margin-left:10px;
}

.con1 .login div.ban {
	margin-top:9px;
}



.con1 .muiza {
	float:left; position:relative;
	margin-left:60px;
	width:574px;
}


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:13px;
	color:#333333;
	border: solid 1px;
	border-color: #CCC;
	border-collapse: collapse;
}

table.gridtable td {
	border-left:solid 1px;
	border-left-color: #CCC;
	padding: 8px;
	background-color: #ffffff;
}

table.gridtable td.headcol {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #CCC;
	text-align:center;
}
.con1 .muiza p {
	position:absolute; top:10px; right:0;
	color:#ff2005;
}



.con1 .banner_wrap {
	float:left; position:realtive;
	margin-left:60px;
	width:196px; height:224px;
}
.con1 .banner_wrap .bx-viewport {
	width:196px; height:224px;
}






.con2 {
	*zoom:1;
	margin-top:30px;
}
.con2:after {
	content:''; display:block; clear:both;
}

.con2 .customer {
	float:left;
}

.con2 .notice {
	width:574px; float:left; margin-left:60px;
}
.con2 .notice h2 {
	margin-bottom:5px;
}
.con2 .notice ul li {
	line-height:24px;
}

.con2 .sms {
	float:left; margin-left:60px;
}


#footer {
	*zoom:1;
	border-top:1px solid #cdcdcd;
	margin-top:20px; padding:20px 0;
	font:13px/20px NGBold; color:#666;
}
#footer:after {
	content:''; display:block; clear:both;
}
#footer .logo {
	float:left; margin-left:50px;
}
#footer .copyright{
	float:left; margin-left:30px;
}








