/*
 * Copyright (c) 2014. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 * Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
 * Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
 * Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
 * Vestibulum commodo. Ut rhoncus gravida arcu.
 */

@charset "utf-8";
/* CSS Document */

html, body {
    /*height: 100%;*/
}

body{
    padding:0;
    margin:0;
    list-style:none;
}

ul,li,form{
    padding:0px;
    margin:0px;
    list-style:none;
}

body, table, div, p ,input,span {
    font-family: Tahoma;
    font-size: 14px;
}

.loginInfo{
    position: relative;
    min-width: 1340px;
    height: 60px;
    /*background-color: #7393ae;*/
    background-color: #ffffff;
}
.loginInfo .logo{
    position: relative;
    float: left;
    width: 184px;
    height: 60px;
    line-height: 60px;
    display:table-cell;
    vertical-align: middle;
}

.loginInfo .login_action{
    position: relative;
    float: right;
    width: 100px;
    height: 60px;
    line-height: 60px;
    display:table-cell;
    vertical-align: middle;
}

.settlementPaymentMenu{
    min-width: 1340px;
    position: relative;
    height: 24px;
}


.settlementPaymentContent{
    min-width: 1340px;
    margin:0px 0px 0px 0px;
    overflow:hidden;
    aborder: #B5CDE4 1px solid;
    padding:0px 0px 0px 0px;
}

.settlementPaymentContent .settlementPaymentContent_Tabbar{
    position: relative;
    width: 100%;
    height: 100%;
}

.settlementPaymentContent .settlementPaymentContent_Tabbar .dhx_tabbar_zone{
    position: relative;
    width: 100%;
    height: 100%;
}

.settlementPaymentContent .settlementPaymentContent_Tabbar .grid{
    position: relative;
    width:100%;
    height:100%;
    background-color:white;
}

.fotter{
    position: relative;
    min-width: 1340px;
    height: 81px;
    /*background-color: #7393ae;*/
    background-color: #ffffff;
}

.label, .label2, .input{
    position: relative;
    float: left;
    height: 29px;

}

.label{
    width: 80px;
    background-color: #B6CBDD;
    text-align:center ;
    border-bottom: 1px solid;
    border-top:1px solid;
    border-color: #B5B5B5;
    line-height: 29px;

    /*margin-left: 15px;*/

    border-radius: 4px 0px 0px 4px;
}


.label2{
    width: 130px;
    background-color: #B6CBDD;
    text-align:center ;
    border-bottom: 1px solid;
    border-top:1px solid;
    border-color: #B5B5B5;
    line-height: 29px;

    /*margin-left: 15px;*/

    border-radius: 4px 0px 0px 4px;
}

.input{
    position: relative;
    border-bottom: 1px solid;
    border-top:1px solid;
    border-color: #B5B5B5;
    vertical-align: middle;
}

.input input, .input select{
    margin : 2px 2px 0px 2px;
}



.searchForm1row{
    position: relative;
    width: 100%;
    height: 35px;
    padding: 10px 0px 0px 0px ;
}

.searchForm2row{
    position: relative;
    width: 100%;
    height: 80px;
    padding: 10px 0px 0px 0px ;
}

.searchButton{
    position: relative;
    float: left;
    width: 60px;
    height: 25px;
    margin-left: 10px;
}

.action{
    float: right;
    margin-right: 30px;
}

.action button{
    float: left;
    height: 27px;
    width: 27px;
    margin-left: 5px;
}

.mainlogin{
    position: relative;
    width: 444px;
    height: 260px;
    background-image: url('../../images/login.png');
    vertical-align: middle;

}

.mainlogin #formsContent, .mainlogin #formsContent #loginForm{
    position: relative;
    height: 100%;

}

.mainlogin .loginInput{
    position: relative;
    height: 40px;
    margin: 30px 10px 0px 80px;
    float: left;
}

.mainlogin .login{
    position: relative;
    width: 60px;
    height: 50px;
    margin: 30px 10px 0px 10px;
    float: left;
    font-weight: bold;
}



.mainlogin .loginInput span.loginLable{
    display: block;
    width: 50px;
    font-size: 12px;
    float: left;
}

.mainlogin .loginInput input{
    display: block;
    margin-bottom: 10px;
}

.mainlogin .loginInput .login{
    width: 40px;
    height: 25px;
}


.mainlogin #formsContent #loginForm .loginTitle{
    position: relative;
    margin: 60px 0px 0px 80px;
    height: 50px;
    float: left;
    vertical-align: middle;
    line-height: 50px;

}
.mainlogin #formsContent #loginForm .loginTitle span{
    font-size: 20px;
    font-weight: bold;
}

button.login{
    radius:3px;

}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #B5B5B5;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #B5B5B5;
	background-color: #B6CBDD;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #B5B5B5;
	background-color: #ffffff;
}

table.gridtable td.headcol {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #B5B5B5;
	background-color: #B6CBDD;
}

span.outAmt,span.misAmt{
    color: red;
    cursor: hand;
    text-decoration:underline;
    line-height: 15px;
}

span.outAmtProc{
    cursor: hand;
    text-decoration:underline
}


/*end*/






