hr{display:none;}
img{border:0}
div,th,td,input,select{font-size:12px;font-family:굴림;}

/*스크롤바 스타일*/
body {
  scrollbar-face-color: #ffffff; 
  scrollbar-shadow-color: #ffffff; 
  scrollbar-highlight-color: #c8c8c9; 
  scrollbar-3dlight-color: #ffffff; 
  scrollbar-darkshadow-color: #cccccc; 
  scrollbar-track-color: #DBDBDB; 
  scrollbar-arrow-color: #398DCE;
}

/*기본 스타일*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size : 9pt;
	font-family:"굴림", "굴림체","Verdana" ,"Arial"; 
	font-size: 9pt;
	color :#4B4B4B; 
	line-height:140%;
	background-color:#ffffff;
	/*
	background:url('../images/main/.gif') repeat;
	*/
}

td {
	color :#4B4B4B; line-height:130%;
	font-size : 9pt;
	font-family:"굴림", "굴림체","Verdana" ,"Arial";
}

A:link{COLOR: #333333; Text-Decoration:none}
A:visited{COLOR: #333333; Text-Decoration:none}
A:hover{COLOR: #79b243; font-weight:bold; letter-Spacing:-1px; Text-Decoration:none}


/*입력폼 스타일*/
input {
	border-color:#d6dadc;
	border-style:solid;
	border-width:1;
	font-family: "굴림";
	font-size: 12px;
	color: #4B4B4B;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	height:22px;
	background-color: #ffffff;
	padding:4px 4px 0 3px;
}

.none {border:0;}

textarea { 
  border-color:#d2d2d2;
  border-width:1; 
  border-style:solid;
  font-family: "굴림";
  font-size: 12px;
  color: #4B4B4B;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  background-color: #F0F0F0; 
  padding: 2px; 

}



/*해드 스타일*/

.1depth_head{color :#587e01; line-height:130%; font-size:9pt;  font-weight:bold; letter-Spacing:0; font-family:"굴림", "굴림체","Arial" ,"Verdana";}
.2depth_head{color :#666666; line-height:130%; font-size:9pt;  font-weight:bold; letter-Spacing:0; font-family:"굴림", "굴림체","Arial" ,"Verdana";}

.mfont1{color :#ffffff; line-height:130%; font-size:10pt; letter-Spacing:-1px;  font-weight:bold; padding:2px 0 0 40px;}
.mfont1 A:link{COLOR: #ffffff; font-weight:bold; Text-Decoration:none}
.mfont1 A:visited{COLOR: #ffffff; font-weight:bold; Text-Decoration:none}
.mfont1 A:hover{COLOR: #e9fe5c; font-weight:bold; Text-Decoration:none}

.product{color :#333333; line-height:130%; font-size:8pt; letter-Spacing:-1px;  padding:0 0 0 2px;}
.price1{color :#333333; line-height:130%; font-size:8pt; letter-Spacing:-1px;  padding:0 0 0 2px;}
.price2{color :#ff3300; line-height:130%; font-size:8pt;  font-weight:bold; letter-Spacing:-1px;  padding:0 0 0 2px;}

.popinfo1{color :#333333; line-height:130%; font-size:9pt; letter-Spacing:-1px;}
.popinfo2{color :#333333; line-height:130%; font-size:9pt; font-weight:bold; letter-Spacing:-1px;}
.popinfo3{color :#ff3300; line-height:130%; font-size:9pt; font-weight:bold; letter-Spacing:-1px;}


.infoBox{width:732px; height:153px; background:url('../images/common/info_boxbg.gif') no-repeat;}



/*작은폰트들*/
.sfont1{color :#707070; line-height:130%; font-size:8pt; font-weight:bold; letter-Spacing:0; font-family:"돋움", "돋움체","Arial" ,"Verdana";}
.sfont2{color :#6A6A6A; font-size:8pt; line-height:130%; letter-Spacing:-1;font-family:"돋움", "돋움체","Arial" ,"Verdana";}
.sfont2-1{color :#6A6A6A; font-size:8pt; line-height:130%; font-family:"돋움", "돋움체","Arial" ,"Verdana";}
.sfont3{color :#6A6A6A; font-size:8pt; line-height:130%; letter-Spacing:0; font-family:"돋움", "돋움체","Arial" ,"Verdana";}
.sfont4{color :#808080; font-size:8pt; line-height:130%; letter-Spacing:0; font-family:"돋움", "돋움체","Arial" ,"Verdana";}


/*텍스트 스타일 추가가능*/
.gm_g {Color: #dbff49; font-weight:bold; letter-Spacing:-1;}
.gm_g A:link{COLOR: #dbff49;Text-Decoration:none}
.gm_g A:visited{COLOR: #dbff49;Text-Decoration:none}
.gm_g A:hover{COLOR: #fffc00;Text-Decoration:none}

.red_font {Color: #d44141; font-weight:bold; letter-Spacing:-1;}


/*하얀폰트*/
.w_font{color :#808080; line-height:130%; font-size:9pt; letter-Spacing:0; font-family:"굴림", "굴림체","Arial" ,"Verdana"; padding:0 0 0 10px;}
.w_font A:link{COLOR: #808080;Text-Decoration:none}
.w_font A:visited{COLOR: #808080;Text-Decoration:none}
.w_font A:hover{COLOR: #58dfff;Text-Decoration:none;letter-Spacing:0;}

.w_font1{color :#ffffff; line-height:130%; font-size:9pt; font-weight:bold; letter-Spacing:0; font-family:"굴림", "굴림체","Arial" ,"Verdana";}
.w_font1-1{color :#ffffff; line-height:130%; font-size:9pt; font-weight:bold; letter-Spacing:-1; font-family:"굴림", "굴림체","Arial" ,"Verdana";}
.w_font1-2{color :#4B4B4B; line-height:130%; font-size:8pt; letter-Spacing:0; font-family:"굴림", "굴림체","Arial" ,"Verdana";}


.g_font{color :#71bc29; line-height:130%; font-size:9pt; letter-Spacing:0;font-weight:bold; font-family:"굴림", "굴림체","Arial" ,"Verdana";}
.g_font A:link{COLOR: #71bc29;Text-Decoration:none}
.g_font A:visited{COLOR: #71bc29;Text-Decoration:none}
.g_font A:hover{COLOR: #7dff00;Text-Decoration:none;letter-Spacing:0;}




.w_font2{color :#ffffff; line-height:130%; font-size:8pt; font-weight:bold; letter-Spacing:-1; font-family:"굴림", "굴림체","Arial" ,"Verdana";}
.w_font2 A:link{COLOR: #ffffff;Text-Decoration:none}
.w_font2 A:visited{COLOR: #ffffff;Text-Decoration:none}
.w_font2 A:hover{COLOR: #3ecfff;Text-Decoration:none}

.w_font3{color :#ffffff; line-height:130%; font-size:8pt; font-weight:bold; font-family:"굴림", "굴림체","Arial" ,"Verdana"; padding-top:3 !important;}
.w_font3 A:link{COLOR: #ffffff;Text-Decoration:none}
.w_font3 A:visited{COLOR: #ffffff;Text-Decoration:none}
.w_font3 A:hover{COLOR: #5b5b5b;Text-Decoration:none}

.w_font4{color :#ffffff; line-height:130%; font-size:11pt;  font-weight:bold; font-family:"굴림", "굴림체","Arial" ,"Verdana";}



/* padding
*******************************/

.p3 { padding:3 !important;}
.pt3 { padding-top:3 !important;}
.pr3 {padding-right:3px !important;}
.pb3 {padding-bottom:3px;}
.pl3 {padding-left:3px;}
.pl5 {padding-left:5px;}

.pt5 { padding-top:5 !important;}
.pb5 {padding-bottom:5px;}



.pt7 { padding-top:7 !important;}
.pr7 {padding-right:7px !important;}
.pl7 {padding-left:7px;}
.pb7 {padding-bottom:7px;}
.pb12 {padding-bottom:12px;}



.pr20 {padding-right:20px !important;}
.pr30 {padding-right:30px !important;}
.pt15 { padding-top:15 !important;}
.pt28 { padding-top:28 !important;}
.pt35 { padding-top:35 !important;}
.pt44 { padding-top:44 !important;}

.pl15 {padding-left:15px;}
.pl10 {padding-left:10px;}


/* MenuRollover*/
a.rollover img {border-width:0px; display:inline;}
a.rollover img.over {display:none;}
a.rollover:hover {border:0px;}
a.rollover:hover img {display:none;}
a.rollover:hover img.over{display:inline;}


.png24 { tmp:expression(setPng24(this)); }

/*그레이버튼 위에보다 폭 좁은거*/
.Gr-2 {
	-webkit-box-shadow: 
		inset 0 1px 0 rgba(255, 255, 255, .4),
		0 1px 1px rgba(0, 0, 0, .1);
	background: #DCDCDC
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(255, 255, 255, .4)),
			color-stop(.5, rgba(255, 255, 255, .2)),
			color-stop(.51, transparent),
			to(transparent)
		);
	font: bold 12px "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	color: #696969;
	border: 1px solid #C0C0C0;
	line-height: 10px;
	padding: 5px 5px 1px 5px;
	-webkit-border-radius: 0px;
	display: inline-block;
}


.Gr-2:hover {
	background-color: #C0C0C0;
  font: bold 12px "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	color: #ffffff;
  border: 1px solid #C0C0C0;
	line-height: 10px;
	padding: 5px 5px 1px 5px;
	-webkit-border-radius: 0px;
	display: inline-block;
}

.Gr-2:active {
	background-color: #C0C0C0;
  font: bold 12px "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	color: #ffffff;
  border: 1px solid #C0C0C0;
	line-height: 10px;
	padding: 5px 5px 1px 5px;
	-webkit-border-radius: 0px;
	display: inline-block;
}
/*RedButton_small*/

.btn {
	-webkit-box-shadow: 
		inset 0 1px 0 rgba(255, 255, 255, .4),
		0 1px 1px rgba(0, 0, 0, .1);
	background: #d43636
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(255, 255, 255, .4)),
			color-stop(.5, rgba(255, 255, 255, .2)),
			color-stop(.51, transparent),
			to(transparent)
		);
	font: bold 12px "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	color: #ffffff;
	border: 1px solid #ad2121;
	line-height: 10px;
	padding: 5px 2px 1px 2px;
	-webkit-border-radius: 0px;
	display: inline-block;
}

.btn:hover {
	background-color: #9c0a0a;
    font: bold 12px "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	color: #ffffff;
    border: 1px solid #9c0a0a;
	line-height: 10px;
	padding: 5px 2px 1px 2px;
	-webkit-border-radius: 0px;
	display: inline-block;
}

.btn:active {
	background-color: #d43636;
  font: bold 12px "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	color: #ffffff;
  	border: 1px solid #d43636;
	line-height: 10px;
	padding: 5px 2px 1px 2px;
	-webkit-border-radius: 0px;
	display:none;
}

