/* DHX ENGINE */
/* DHX2009 SKYBLUE THEME */

/* active window */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_body_outer {
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	abackground-color: #FFFFFF;
	background-color: #c2d5dc;
	background-image: url("../../images/dhx/dhtmlxWindows/dhxwins_dhx_skyblue/active/header_bg.gif");
	background-repeat: repeat-x;
	background-position: top;
	border: #a4bed4 1px solid;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_body_outer div.dhtmlx_wins_body_inner {
	position: absolute;
	overflow: hidden;
	
	aborder: #c2d5dc 5px solid;
	aborder: #a4bed4 1px solid;
	aborder-top: none;
	
	background-color: #ebebeb !important;
	border: #ebebeb 2px solid !important;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active .dhtmlx_wins_no_header { /* will added to div.dhtmlx_wins_body_inner in case of no header */
	border-top: #c2d5dc 6px solid !important;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_title {
	position: absolute;
	top: 0px;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	padding-left: 28px;
	left: 0px;
	color: #000000;
        /*
	font-family: Tahoma;
        */
        font-family:"Gulim", "GulimChe","Verdana" ,"Arial";
	font-size: 11px;
	font-weight: bold;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/* active progress */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_progress {
	background-image: url("../../images/dhx/dhtmlxWindows/dhxwins_dhx_skyblue/active/progress.gif");
}

/* active buttons */
/* close */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_default {
	background-position: -96px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_disabled {
	background-position: -96px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_over_default {
	background-position: -96px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_close_over_pressed {
	background-position: -96px -32px;
}
/* minmax1 */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_default {
	background-position: -64px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_disabled {
	background-position: -64px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_default {
	background-position: -64px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_pressed {
	background-position: -64px -32px;
}
/* minmax2 */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_default {
	background-position: -80px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_disabled {
	background-position: -80px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_default {
	background-position: -80px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_pressed {
	background-position: -80px -32px;
}
/* park */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_default {
	background-position: -48px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_disabled {
	background-position: -48px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_over_default {
	background-position: -48px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_park_over_pressed {
	background-position: -48px -32px;
}
/* stick */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_default {
	background-position: 0px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_disabled {
	background-position: 0px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_over_default {
	background-position: 0px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_stick_over_pressed {
	background-position: 0px -32px;
}
/* sticked */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_default {
	background-position: -16px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_disabled {
	background-position: -16px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_default {
	background-position: -16px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_pressed {
	background-position: -16px -32px;
}
/* help */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_default {
	background-position: -32px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_disabled {
	background-position: -32px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_over_default {
	background-position: -32px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_help_over_pressed {
	background-position: -32px -32px;
}
/* dock */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_default {
	background-position: -112px 0px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_disabled {
	background-position: -112px -48px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_over_default {
	background-position: -112px -16px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_active div.dhtmlx_wins_btns .dhtmlx_button_dock_over_pressed {
	background-position: -112px -32px;
}


/* inactive window */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_body_outer {
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	background-color: #dbe6f3;
	background-image: url("../../images/dhx/dhtmlxWindows/dhxwins_dhx_skyblue/inactive/header_bg.gif");
	background-repeat: repeat-x;
	background-position: top;
	border: #c9d9e6 1px solid;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_body_outer div.dhtmlx_wins_body_inner {
	position: absolute;
	overflow: hidden;
	aaborder: #dbe6f3 5px solid;
	border-top: none;
	aabackground-color: #FFFFFF;
	background-color: #ebebeb !important;
	border: #ebebeb 2px solid !important;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive .dhtmlx_wins_no_header { /* will added to div.dhtmlx_wins_body_inner in case of no header */
	border-top: #c2d5dc 6px solid;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_title {
	position: absolute;
	top: 0px;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	padding-left: 28px;
	left: 0px;
	color: #686868;
        /*
	font-family: Tahoma;
        */
        font-family:"Gulim", "GulimChe","Verdana" ,"Arial";        
	font-size: 11px;
	font-weight: bold;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/* inactive progress */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_progress {
	background-image: url("../../images/dhx/dhtmlxWindows/dhxwins_dhx_skyblue/inactive/progress.gif");
}
/* inactive butons */
/* close */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_default {
	background-position: -96px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_disabled {
	background-position: -96px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_over_default {
	background-position: -96px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_close_over_pressed {
	background-position: -96px -96px;
}
/* minmax1 */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_default {
	background-position: -64px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_disabled {
	background-position: -64px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_default {
	background-position: -64px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax1_over_pressed {
	background-position: -64px -96px;
}
/* minmax2 */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_default {
	background-position: -80px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_disabled {
	background-position: -80px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_default {
	background-position: -80px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_minmax2_over_pressed {
	background-position: -80px -96px;
}
/* park */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_default {
	background-position: -48px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_disabled {
	background-position: -48px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_over_default {
	background-position: -48px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_park_over_pressed {
	background-position: -48px -96px;
}
/* stick */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_default {
	background-position: 0px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_disabled {
	background-position: 0px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_over_default {
	background-position: 0px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_stick_over_pressed {
	background-position: 0px -96px;
}
/* sticked */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_default {
	background-position: -16px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_disabled {
	background-position: -16px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_default {
	background-position: -16px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_sticked_over_pressed {
	background-position: -16px -96px;
}
/* help */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_default {
	background-position: -32px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_disabled {
	background-position: -32px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_over_default {
	background-position: -32px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_help_over_pressed {
	background-position: -32px -96px;
}
/* dock */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_default {
	background-position: -112px -64px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_disabled {
	background-position: -112px -112px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_over_default {
	background-position: -112px -80px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_inactive div.dhtmlx_wins_btns .dhtmlx_button_dock_over_pressed {
	background-position: -112px -96px;
}

/* common */
/* content blocker */
/*
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_main_content_blocker {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 101%;
	height: 101%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	background: #FFFFFF;
	z-index: 1;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
*/
/* window icon */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_icon {
	position: absolute;
	top: 7px;
	left: 8px;
	width: 16px;
	height: 16px;
	border: none;
	z-index: 1;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-repeat: no-repeat;
	font-size: 1px;
}
/* buttons */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_btns {
	position: absolute;
	right: 5px;
	top: 6px;
	font-size: 1px;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_btns div.dhtmlx_wins_btns_button {
	float: left;
	width: 16px;
	height: 16px;
	background-image: url("../../images/dhx/dhtmlxWindows/dhxwins_dhx_skyblue/buttons.gif");
}
/*
.dhtmlx_skin_dhx_skyblue div.dhtmlx_window_main_content {
	position: relative;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
*/
/* resizers */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_resizer_t {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 5px; /* should be generated by script */
	font-size: 1px;
	background: #FFFFFF;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_resizer_l {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5px; /* should be generated by script */
	height: 100%;
	font-size: 1px;
	background: #FFFFFF;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_resizer_r {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 5px; /* should be generated by script */
	height: 100%;
	font-size: 1px;
	background: #FFFFFF;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_resizer_b {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 5px; /* should be generated by script */
	font-size: 1px;
	background: #FFFFFF;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/* progress */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_progress {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}
/* statusbar */
.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container {
	position: relative;
	height: 24px;
}
.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container div.dhxcont_statusbar {
	position: relative;
	top: 2px;
	height: 22px;
	line-height: 22px;
	background-image: url("../../images/dhx/dhtmlxWindows/dhxwins_dhx_skyblue/statusbar_bg.gif");
	background-repeat: repeat-x;
	width: auto;
	padding: 0px 4px;
	overflow: hidden;
	white-space: nowrap;
	border-top: none;
	border-bottom: none;
	border-left: #a4bed4 1px solid;
	border-right: #a4bed4 1px solid;
        /*
	font-family: Tahoma;
        */
        font-family:"Gulim", "GulimChe","Verdana" ,"Arial";
	font-size: 11px;
	vertical-align: middle;
	color: #000000;
}
/*
.dhtmlx_skin_dhx_skyblue div.dhxcont_statusbar {
	position: absolute;
	width: 100%;
	bottom: 0px;
	_bottom: -1px;
	border-top: #c2d5dc 1px solid;
	background-image: url("../../images/dhx/dhtmlxWindows/dhxwins_dhx_skyblue/statusbar_bg.gif");
	background-repeat: repeat-x;
	width: 100%;
	overflow: hidden;
	font-family: Tahoma;
	font-size: 11px;
	vertical-align: middle;
	line-height: 17px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	padding-left: 4px;
	color: #7393ae;
}
*/


.dhtmlx_skin_dhx_skyblue div.white_line {
	border-left: #FFFFFF 1px solid;
	border-right: #FFFFFF 1px solid;
	border-top: #FFFFFF 1px solid;
	height: 100%;
}
.dhtmlx_skin_dhx_skyblue div.white_line2 {
	position: absolute;
	bottom: 0px;
	height: 10px;
	width: 100%;
	border-bottom: #FFFFFF 1px solid;
	font-size: 1px;
}

.dhtmlx_skin_dhx_skyblue .dhtmlxMenu_in_Window {
	aborder-bottom: #cedce8 1px solid;
	border-bottom: #a4bed4 1px solid;
}


